body {
  margin: 0;
  padding: 0;
  cursor: url('cursor.png'), auto;
  font-family: sans-serif;

}

p {
  font-size: 1.25em;
}

h1 {
  font-size: 96px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: -1px;
}


h2 {
  font-size: 72px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: -0.75px;
}

h3 {
  font-size: 56px;
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 40px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: -0.5px;
}

h5 {
  font-size: 32px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: -0.5px;
}
a {
  text-decoration: none;
}

.col-45 {
  display: grid;
  grid-template-columns: 5fr 4fr;
}

.hero__image img {
  width: 100%;
}

.tagline {
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 48px;
  margin-bottom: 200px;
}

.stripe {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  justify-content: space-between;
}
.stripe--black {
  background-color: black;
  color: #BC5330;
}
.stripe--red {
  background-color: #BC5330;
  color: white;
}
.stripe--grey {
  background-color: #E3E3E3;
  color: #BC5330;
}
.marquee__link {
  text-decoration: none;
  color: white;
}
.marquee__link:hover {
  text-decoration: underline;
  color: white;
}

.marquee__container {
  position: fixed;
  width: inherit;
  bottom: 0;
  left: 0;
  height: 64px;
  overflow: hidden;
  background-color: #FF4F13!important;
  border-bottom: 0.15em solid #000000;
  z-index: 1000;
  width: 100%;
  text-align: left;
  padding: 8px;
  line-height: 40px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    color: #E0E0E0;
}
.marquee__text {
    padding-left: 100%;
    animation: marquee 18s linear infinite;
    margin-block-start: 12px;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-200%, 0); }
}

.kitten {
  background-image: url(https://placekitten.com/1920/1080);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FF4F13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media all and (min-device-width: 320px) and (max-device-width: 480px) {
  .kitten {
    background-image: url(https://placekitten.com/480/1080);
  }
  h1 {
    font-size: 64px;
  }

  .marquee__text {
      animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-500%, 0); }
  }

}

@media all and (min-device-width: 480px) and (max-device-width: 768px) {
  .kitten {
    background-image: url(https://placekitten.com/768/1080);
  }
  .marquee__text {
      animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-500%, 0); }
  }

}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
  .kitten {
    background-image: url(https://placekitten.com/1024/1080);
  }
}

@media all and (min-device-width: 1024px) and (max-device-width: 1440px) {
  .kitten {
    background-image: url(https://placekitten.com/1440/1080);
  }

  .marquee__text {
      animation: marquee 32s linear infinite;
  }

  @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-500%, 0); }
  }

}
